/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Bungee+Shade&family=DM+Serif+Display&family=Great+Vibes&family=Island+Moments&family=Kaisei+HarunoUmi&family=Kanit&family=Unbounded&display=swap');

body{

    font-family: 'Ubuntu', sans-serif;

}
.card-img-top{
    width:200px;
    height: 250px;
    align-items: center;
    transition: 0.5;
    margin-top: 50px;
    margin-left: 30px;
}
.card{
    font-size:smaller;

    
}

.card-img-top:hover{
    transform: scale(1.25);
    transition: 0.5;
}    
.navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 70px;
}

